
#na{
    background-color : #9DBDC6;
    color : black;
    font-size:14pt;
}

#ok{
    background-color:rgb(35, 201, 9);
    color : black;
    font-size:14pt;
}

#btnName{
    
    background-color :#272F32;
    color : white;
}

#btn{
    float : right;
    background-color :#272F32;
    color : white;
}

#btnActive{
    margin-top: 12px; 
}

#btnDesactive{
    margin-top: 12px;
}

#nameForm{
    height: 10%;
}

#box_header {
    background-color:#f5f5f5; 
    color:black;
}

#box_header button{
    color : #272F32;
}