#leftBtn {
  width: 100px; 
  height: 40px; 
  float: right;
  margin-left: 10px;
}

#rightBtn{
  width: 100px; 
  height: 40px; 
  float: right;
}

#element{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#icons{
  color:white;
}

#box_header{
  background-color:#dd4b39; 
  color:white;
}


#bx_header {
  background-color:#f5f5f5; 
  color:black;
}


#stautsBtn{ 
  text-align: center;
}

#search{
  margin-right:10px;
  height:29px;
  width: 250px;
  float:left; 
}

#success_message{
  display:none;
}

.btn_c{
  border: none;
  background-color: transparent;
  outline: none;
}

#indicator{
  margin-bottom : 10px;
}

