#applications i {
    float:right;
    margin-left: 3px;
}

#applications #trash:hover{
    color: red;
}

#bar_icons {
    float:right;
}

#box_header{
    background-color:#dd4b39; 
    color:white;
  }
  